*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.essentials-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.essentials-card .ant-card-cover img {
  object-fit: cover;
  height: 200px;
}
